html {
    background-color: gainsboro;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: cornflowerblue;
    text-align: center;
}

html {
    height: 100%;
}
main > div {
    background-color: aliceblue;
    padding-bottom: 25px;
    height: 100%;
}

.carousel {
    text-align: center;
    background-color: #807e7b;
    height: 300px;
    width: 500px;
    margin: 15px auto;
    border: cadetblue 2px solid;
    border-radius: 10px;
}

.carousel-item {
    margin: auto;
}

.carousel-item > div > a{
    font-size: 5rem;
    color: white;
}

.carousel-item > div > a > h2 {
    font-size: inherit;
    margin: auto;
}

.carousel-item > div > a:hover {
    text-decoration: none;
    color: #dcf3eb;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}