html {
    background-color: gainsboro;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: cornflowerblue;
    text-align: center;
}

html {
    height: 100%;
}
main > div {
    background-color: aliceblue;
    padding-bottom: 25px;
    height: 100%;
}

#front-projects {
    padding-top: 15px;
}

#front-projects > div > div {
    text-align: center;
    background-color: darkgoldenrod;
}

#front-projects > div > div:hover {
    text-align: center;
    background-color: #fff926;
}

#front-projects > div > div > a > h2 {
    font-size: 5rem;
    color: black;
}

#front-projects > div > div > a:hover {
    text-decoration: none;
    color: black;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}