html {
    background-color: gainsboro;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: cornflowerblue;
    text-align: center;
}

header h1 {
    font-family: BigNoodleTitling, serif;
}

nav {
    background-color: cadetblue;
}

nav a {
    color: white;
}

nav a :hover {
    color: white;
    text-underline: none;
}

main {
    background-color: aliceblue;
    height: 100%;
}

