.container {
    padding-top: 25px;
}

main a {
    color: rgba(0,0,0,.5);;
    text-align: center;
}

main a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.75);
}

#login-form {
    border: 3px solid grey;
    border-radius: 3px;
}

#register-form {
    border: 3px solid grey;
    border-radius: 3px;
}

#display-user {
    padding-left: 15px;
    padding-top: 15px;
}

#user-name {
    font-size: 120px;
}

#error-label {
    color : red;
    max-width: 100%;
    margin-top: 15px;
}